doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge, chrome")
    title Title
    link(rel="stylesheet", href="/vendor.css")
    script(type='text/javascript', src='/vendor.js')
    //- script(type='text/javascript', src='/app.js')
    script(type='text/javascript', src='/dpd.js')
  body
    .ui.text.container
      block body
  